<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wallpaperappbyducminh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hot_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hot_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CommentActivity"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activity.showimages.SearchShowImagesActivity" />
        <activity android:name=".activity.listimages.ListSearchActivity" />
        <activity android:name=".activity.showimages.CategoryShowImageActivity" />
        <activity android:name=".activity.listimages.ListForCategoryActivity" />
        <activity android:name=".activity.showimages.FavoriteShowImagesActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider725630451588646"
            android:exported="true" />
    </application>

</manifest>